[Unit]
After=network.target
 
[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/projet
ExecStart=/root/.nvm/versions/node/v14.17.3/bin/npm start
Restart=on-failure

# Output to syslog
StandardOutput=/var/log/syslog
StandardError=/var/log/syslog
#Change this to find app logs in /var/log/syslog
SyslogIdentifier=nodejs-api
# Followig will require if you are using the PORT or Node from Envirnoment
Environment=NODE_ENV=production PORT=4000

[Install]
WantedBy=multi-user.target

