h4 {
  margin-top: 0.3rem !important;
}

.aa {
  
    display: initial;
 
}

.container {
  max-width: 80rem !important;
}

#table-liste-planete{
  // --bs-gutter-y:var(--bs-gutter-y)
  margin: 0 0 0 0!important;
}

//tableau de liste des planètes

#table-liste-planete td,th{
  text-align:center;
  padding: 0.5rem;
}

#table-liste-planete{
  margin:0 0 0 0;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}


#frise-container {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-content: center;
  // justify-items: space-around;
  height: 50px !important;
}

.frise-item,
.frise-item-first {
  display: flex;

  justify-content: flex-end;
  align-content: center;
}

.frise-item div {
  margin: auto !important;
}

.table-concept {
  flex-direction: row;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
}

.table-concept tbody {
  cursor: pointer;
}

.table-concept td:hover {
  border-color: #000 !important;
}

.rowSelected {
  background-color: rgb(136, 132, 216) !important;
  border-color: rgb(136, 132, 216) !important;
  // border: 2px solid;
}

.table-concept .col {
  text-align: center;
  margin: 1rem;
}

.table-concept td,
th {
  padding: 0.5rem;
}

thead {
  color: white;
  background-color: #242526;
  height: fit-content;
  text-align: center;
}

.table-concept .row {
  border: 1px solid;
}

.table-liste-planete:nth-child(2n) {
  border-color: #fff;
}

.table-liste-planete:nth-child(2n + 1) {
  border-color: #ccc;
  background: #ccc;
}


.table-row:nth-child(2n) {
  border-color: #fff;
}

.table-row:nth-child(2n + 1) {
  border-color: #ccc;
  background: #ccc;
}

.table-row-collapse {
  background: #f00 !important;
}


//classe des svg

.planetwrap:hover  {
  transform: scale(1.1);
}
.planetwrap {
  transition: all 0.1s;
  transform-origin: 50% 50%;
}

.svgparent {
  overflow: visible;
}

// planetwrap

// svg#jupiter:hover path {
//   d: path(
//     "M0 9.35772H50.9956L44.2001 2.29941L46.4134 0L57 11L46.4134 22L44.2001 19.7006L50.9956 12.6423H0V9.35772Z"
//   );
//   d: "M0 9.35772H50.9956L44.2001 2.29941L46.4134 0L57 11L46.4134 22L44.2001 19.7006L50.9956 12.6423H0V9.35772Z";
// }
